<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th class="text-right">
                  Action
                </th>
              </thead>
              <tbody *ngIf="classHistories.length > 0">
                <tr *ngFor="let history of classHistories; trackBy: trackById">
                  <td>{{ history.id }}</td>
                  <td>{{ history.name }}</td>
                  <td>{{ history.description }}</td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-info mr-2" (click)="editHistory(history)">
                      <i class="fas fa-edit"></i> Sửa
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deleteHistory(history.id)">
                      <i class="fas fa-trash-alt"></i> Xóa
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
           <!-- Điều hướng phân trang -->
        <div class="pagination-controls mt-3 text-center">
          <button
            class="btn btn-secondary"
            [disabled]="currentPage === 1"
            (click)="changePage('prev')"
          >
            Trước
          </button>
          <span class="mx-3">Trang {{ currentPage }}</span>
          <button
            class="btn btn-secondary"
            (click)="changePage('next')"
          >
            Tiếp
          </button>
        </div>
        </div>
      </div>
    </div>
    
  </div>
  